services:
  monitoring:
    build:
      context: ../
      dockerfile: docker/monitoring/Dockerfile
    image: monitoring_image:latest
    container_name: monitoring_service
    environment:
      - INTERVAL=5
    volumes:
      - ./data:/data:rw               # loguri + backup-uri
      - /proc:/host/proc:ro           # acces la proc gazdă
      - /sys:/host/sys:ro             # senzori hardware
      - /etc:/host/etc:ro             # versiune OS
      - /usr/lib:/host/usr/lib:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro  # acces la Docker gazdă
    network_mode: "host"              # IP real al gazdei
    restart: always
    privileged: true

  backup:
    build:
      context: ../
      dockerfile: docker/backup/Dockerfile
    image: backup_image:latest
    container_name: backup_service
    environment:
      - BACKUP_INTERVAL=5
      - BACKUP_DIR=/data/backup
    volumes:
      - ./data:/data:rw
    depends_on:
      - monitoring
    restart: always